$gray: #F4F4F4;
$darkgray: #aaaaaa;
$warning: rgb(248, 236, 179);

#you {
  background: $gray;
  border-left: 10px $darkgray solid;
  padding-left: 20px;
}

#coach {
  background: $warning;
  border-left: 10px $darkgray solid;
  padding-left: 20px;
}